<body>
  <section class="home-introduction-section">
    <div class="home-introduction-section-a">
      <img alt="programmer" class="home-introduction-section-a-img" src="assets/resources/images/png/keyboard.png">
      <h3 class="home-introduction-section-a-h3">PROGRAMMER</h3>
    </div>
    <div class="home-introduction-section-a">
      <img alt="programmer" class="home-introduction-section-a-img" src="assets/resources/images/png/desk-lamp.png">
      <h3 class="home-introduction-section-a-h3">ENGINEER</h3>
    </div>
    <div class="home-introduction-section-a">
      <img alt="programmer" class="home-introduction-section-a-img" src="assets/resources/images/png/graph-line.png">
      <h3 class="home-introduction-section-a-h3">DEVELOPER</h3>
    </div>
  </section>
</body>
