<div class="skill-bars">

  <h3>Programming Languages</h3>
  <div class="bar">
<!--    <div class="section-img">-->
<!--      <img alt="" class="img-in" src="assets/resources/images/png/html5.png">-->
<!--    </div>-->

    <div class="section-bar">
      <div class="info">
        <span>Java</span>
      </div>
      <div class="progress-line sjava">
        <span></span>
      </div>
    </div>
  </div>

  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>TypeScript</span>
      </div>
      <div class="progress-line stypescript">
        <span></span>
      </div>
    </div>
  </div>

  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>C++</span>
      </div>
      <div class="progress-line scpp">
        <span></span>
      </div>
    </div>
  </div>


  <h3>Scripting Languages</h3>

  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>JavaScript</span>
      </div>
      <div class="progress-line sjavascript">
        <span></span>
      </div>
    </div>
  </div>

  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>Python</span>
      </div>
      <div class="progress-line spython">
        <span></span>
      </div>
    </div>
  </div>

  <h3>Markup and Styling</h3>

  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>HTML</span>
      </div>
      <div class="progress-line shtml">
        <span></span>
      </div>
    </div>
  </div>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>CSS</span>
      </div>
      <div class="progress-line scss">
        <span></span>
      </div>
    </div>
  </div>

  <h3>Frameworks</h3>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>Spring</span>
      </div>
      <div class="progress-line sspring">
        <span></span>
      </div>
    </div>
  </div>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>Angular</span>
      </div>
      <div class="progress-line sangular">
        <span></span>
      </div>
    </div>
  </div>

  <h3>DataBase</h3>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>MySql</span>
      </div>
      <div class="progress-line smysql">
        <span></span>
      </div>
    </div>
  </div>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>MongoDB</span>
      </div>
      <div class="progress-line smongodb">
        <span></span>
      </div>
    </div>
  </div>

  <h3>VCS</h3>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>Git</span>
      </div>
      <div class="progress-line sgit">
        <span></span>
      </div>
    </div>
  </div>

  <h3>Operating Systems</h3>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>Linux</span>
      </div>
      <div class="progress-line slinux">
        <span></span>
      </div>
    </div>
  </div>
  <div class="bar">
    <div class="section-bar">
      <div class="info">
        <span>Windows</span>
      </div>
      <div class="progress-line swindows">
        <span></span>
      </div>
    </div>
  </div>
</div>
