<body>
  <div>
    <h3>Hey! let's work together.</h3>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="https://www.linkedin.com/in/someshsurve/" target="_blank"><img alt="" src="assets/resources/images/Social/linkedin.png"></a></li>
        <li><a href="mailto:someshsurve21@gmail.com?subject=Hello Somesh!&body=Start here..."><img alt="" src="assets/resources/images/Social/gmail.png"></a></li>
        <li><a href="https://telegram.me/Somesh_surve" target="_blank"><img alt="" src="assets/resources/images/Social/telegram.png"></a></li>
<!--        <li><a href="https://wa.me/+919881297048" target="_blank"><img alt="" src="assets/resources/images/Social/whatsapp.png"></a></li>-->
        <li><a href="https://www.instagram.com/somesh_surve/" target="_blank"><img alt="" src="assets/resources/images/Social/instagram.png"></a></li>
      </ul>
    </nav>
  </div>
</body>
