<!--<section class="home-skills-section">-->
<!--<h1></h1>-->
<section class="aaa">
  <img id="section-about" alt="ph" class="profile-photo" src="assets/resources/images/photo/myPhoto.jpg">
  <div class="profile-header">
    <h3>Hey! My name is Somesh.</h3>
    <h3></h3>
    <h3>I'm Backend web Developer and Programmer</h3>

    <p>A creative and hard-working developer with ability to adapt in both self-starting and collaborating environments while stays focused on achieving the results. Like to work on new technologies and expand the knowledge of previous one.</p>

  </div>
</section>

<section class="bbb">
  <app-home-skills-bar></app-home-skills-bar>
</section>
<!--</section>-->

